doctype html
html
    head
        meta(charset="utf-8")
        meta(name="viewport", content="initial-scale=1.0,user-scalable=no,maximum-scale=1,width=device-width")
        meta(name="google-site-verification" content="OGFnTgfAZdpfN79-zOH32aoOIH-ep3Gn6QEhza76vCc")
        
        title= title || 'My Keystone Website'
        link(rel="stylesheet", href="styles/style.css")
        link(rel="stylesheet", href="https://fonts.googleapis.com/css?family=Montserrat:300,400,500")
        link(rel="stylesheet", href="https://use.typekit.net/gcw2mon.css")
        link(rel="stylesheet", href="styles/flaticon.css") 
        script(src="siema.min.js")
        script(src="app.js")

        
        block css
        block head
    body.clear
        
        header#nav.shadow
            div#small-nav
                a(href="#" class=" border-radius")#menu-btn Navegue
                div#dropdown-menu
                    a(href="#book-a" class="text-center ") Porque a Car Care Brazil?
                    a(href="#book-a" class="text-center ") Serviços
                    a(href="/about" class="text-center ") Depoimentos
                    a(href="/contact" class="text-center ") Conheça mais
                    a(href="/contact" class="text-center ") Trabalhe Conosco
                    a(href="/contact" class="text-center ") Contato
            div#large-nav
                a(href="#book-a" class="") Porque a Car Care Brazil?
                a(href="#book-a" class="") Serviços
                a(href="/about" class="") Depoimentos
                a(href="/contact" class="") Conheça mais
                a(href="/contact" class="") Trabalhe Conosco
                a(href="/contact" class="") Contato
            
        
        main
            
            block intro
            
            //+flash-messages(messages)
            
            block content
        
        footer
            img(class="logo-footer" src="images/logo.png", alt="logo")
            nav(class="flex flex-row flex-wrap flex-align-center flex-justify-content-center default-padding")
                span ® Todos os direitos reservados 2018
                a(href="https://instagram.com/criacaio" target='_blank')
                    img(src="images/instagram.png", alt="instagram logo")
                a(href="https://twitter.com/criacaio" target='_blank')
                    img(src="images/facebook.png", alt="facebook logo")
                a(href="https://pexels.com/@caio" target='_blank') Desenvolvido por Caio Resende
    
    block js