doctype html
html
    head
        meta(charset="utf-8")
        meta(name="viewport", content="initial-scale=1.0,user-scalable=no,maximum-scale=1,width=device-width")
        meta(name="google-site-verification" content="OGFnTgfAZdpfN79-zOH32aoOIH-ep3Gn6QEhza76vCc")
        
        title= title || 'Car Care Brazil'
        link(rel="stylesheet", href="styles/style.css")
        link(rel="stylesheet", href="https://fonts.googleapis.com/css?family=Montserrat:300,400,500")
        link(rel="stylesheet", href="https://use.typekit.net/gcw2mon.css")
        link(rel="stylesheet", href="styles/flaticon.css") 
        script(src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js")
        script(src="siema.min.js")
        script(src="app.js")

        
        block css
        block head
    body.clear
        
        header#nav.shadow
            div#small-nav
                a(href="#" class="menu-btn navegue") Navegue
                div#dropdown-menu
                    a(href="http://car-care-brazil.herokuapp.com" class="text-center menu-btn")
                        img(src="images/car-care-logo.png" class="logo-menu")
                    a(href="http://car-care-brazil.herokuapp.com/#historia" class="text-center menu-btn") Porque a Car Care Brazil?
                    a(href="http://car-care-brazil.herokuapp.com/#servicos" class="text-center menu-btn") Serviços
                    a(href="http://car-care-brazil.herokuapp.com/#depoimentos" class="text-center menu-btn") Depoimentos
                    a(href="http://car-care-brazil.herokuapp.com/page/sobre-a-car-care-brazil" class="text-center menu-btn") Conheça mais
                    a(href="http://car-care-brazil.herokuapp.com/contato?mensagem" class="text-center menu-btn") Fale Conosco
                    a(href="https://facebook.com/carcarebrazil" class="text-center menu-btn")
                        img(class="icon-nav" src="images/facebook.png", alt="Facebook")
                    a(href="https://instagram.com/carcarebrazil" class="text-center menu-btn")
                        img(class="icon-nav" src="images/instagram.png", alt="Instagram")
                a(href="#orcamento" class="text-center"  id="agende-agora" class="agende-agora-mobile") Agende Agora
            div#large-nav
                a(href="http://car-care-brazil.herokuapp.com" class="text-center menu-btn")
                    img(src="images/car-care-logo.png" class="logo-menu")
                a(href="http://car-care-brazil.herokuapp.com/#historia" class="text-center") Porque a Car Care Brazil?
                a(href="http://car-care-brazil.herokuapp.com/#servicos" class="text-center") Serviços
                a(href="http://car-care-brazil.herokuapp.com/#depoimentos" class="text-center") Depoimentos
                a(href="http://car-care-brazil.herokuapp.com/#orcamento" class="text-center" id="agende-agora") Agende Agora
                a(href="http://car-care-brazil.herokuapp.com/page/sobre-a-car-care-brazil" class="text-center") Conheça mais
                a(href="http://car-care-brazil.herokuapp.com/contato?mensagem" class="text-center") Fale Conosco
                a(href="https://facebook.com/carcarebrazil" class="text-center")
                    img(class="icon-nav" src="images/facebook.png", alt="Facebook")
                a(href="https://instagram.com/carcarebrazil" class="text-center")
                    img(class="icon-nav" src="images/instagram.png", alt="Instagram")
            
        
        main
            
            block intro
            
            //+flash-messages(messages)
            
            block content
        
            footer
                nav(class="flex flex-row flex-wrap flex-align-center flex-justify-content-center default-padding")
                    div#large-nav-footer
                        a(href="#historia" class="text-center") Porque a Car Care Brazil?
                        a(href="#servicos" class="text-center") Serviços
                        a(href="#depoimentos" class="text-center") Depoimentos
                        a(href="#orcamento" class="text-center" id="agende-agora") Agende Agora
                        a(href="/sobre-a-car-care-brazil" class="text-center" target="_blank") Conheça mais
                        a(href="/contact" class="text-center" target="_blank") Trabalhe Conosco
                        a(href="/contact" class="text-center" target="_blank") Contato
                        a(href="https://facebook.com/carcarebrazil" class="text-center" target="_blank")
                            img(class="icon-nav" src="images/facebook.png", alt="Facebook")
                        a(href="https://instagram.com/carcarebrazil" class="text-center" target="_blank")
                            img(class="icon-nav" src="images/instagram.png", alt="Instagram")
                img(class="logo-footer" src="images/logo.png", alt="logo")
                nav(class="flex flex-column flex-wrap flex-align-center flex-justify-content-center default-padding")
                    span Todos os direitos reservados 2018 ®
                    span CPNJ: 65.516.853/0001-26
                    span Telefone: 31 9 92969454
    
    block js