
footer {
    background:$dark-blue;
    padding: 20px 0;
    color: white;
    nav {
        a {
            color: white;
            font-size: 10px;
            padding: $default-space / 2;
        }
    }
    img {
        width: 24px;
        height: auto;
    }
}

.logo-footer {
    width: 124px;
    height: auto;
    display: block;
    margin: 24px auto;
}