header {
    background: white;
    display: flex;
    align-items: center;
    z-index: 100;
    position: relative;
}

.logo {
    display: table;
    background: #000000;
    color: #FFFFFF;
    width: 24px;
    height: 24px;
    text-align: center;
    padding: $default-space / 2;
    text-transform: uppercase;
}

#nav {
    position: fixed;
    z-index: 2000;
    width: 100%;
    padding: 20px 0;
    background: #1659ad;
    a {
        color: white;
        height: 24px;
        font-weight: 500;
        font-size: 14px;
        text-decoration: none;
        padding: 6px 12px;
        
        &:hover {
            border-bottom: solid 2px white;
        }
    }
}

#agende-agora {
    background: $orange;
    border-radius: $default-border-radius/2;
    border-bottom: none !important;
}

.logo-menu {
    width:36px;
    height: auto;
}

.icon-nav {
    width: 24px;
    height: auto;
}

#large-nav {
    margin: 0 auto;
    display: block;
}

header nav {
    display: flex;
    flex: 1;
    flex-direction: column;
    text-align: right;
    
    a {
        color: rgba(0,0,0,0.83);
        height: 24px;
        font-weight: 200;
        font-size: 14px;
        text-decoration: none;
        padding: 6px 12px;
    }
}

#dropdown-menu {
    display: none;
    flex-direction: row;
    flex-wrap: wrap;
}

#large-nav-footer a {
    float: left;
    display: table;
    text-decoration: none;
}

#dropdown-menu a {

    @media only screen and (max-width: 1024px) and (orientation: landscape) {
        margin: 5% 0 0 5%;
        width: 20%;
        padding: 2%;
    }

    @media only screen and (max-width: 720px) and (orientation: portrait) {
        margin: 5% 0 0 5%;
        width: 35%;
        padding: 5%;
    }
}


@media only screen and (max-width : 720px) {
    #small-nav { display: block; }

    #large-nav { display: none; }

    #highlight {
        height: 200px;
        padding: 10px;
    }

    #message {
        padding: 10px;
        font-size: 12px;
    }

    #contact #form .form-group {
        flex-direction: column;
    }
    #contact #form .form-group input, #contact #form .form-group textarea {
        margin: 5px 0 15px 0;
    }
 }

 @media only screen and (min-width : 721px) {
    #large-nav a {
        margin-left: 10px;
    }

    #small-nav {
        display: none;
    }

    #highlight {
        height: 300px;
    }

    #message {
        padding: 20px;
        font-size: 14px;
    }

    #contact #form .form-group {
        flex-direction: row;
    }

    #contact #form .form-group label {
        width: 30%;
        margin: 0 15px 0 0;
    }

    #contact #form .form-group input, #contact #form .form-group textarea {
        flex: 1;
        margin: 5px 0 15px 0;
    }

    #contact #form #submit {
        margin: 15px auto;
    }
 }

 @media only screen and (min-width : 900px) {

    #highlight {
        height: 400px;
    }
}

 @media only screen and (min-width : 1200px) {

    #highlight {
        height: 600px;
    }

    #message {
        padding: 30px;
        font-size: 18px;
    }
 }

 @media only screen and (min-width : 1800px) {

    #highlight {
        height: 900px;
    }
 }