$default-font: 'Montserrat', sans-serif;
$accent-font: 'paralucent-stencil', sans-serif;
$default-space: 20px;
$default-border-radius: 10px;
$wrapper-content: 1240px;

$dark-blue: #05254A;
$dark-blue-20: rgba(5, 37, 74, 0.205);
$light-blue: #2d7be5;
$light-green: #35AA59;
$light-blue-50: rgba(45, 122, 229, 0.486);
$orange: #F47D06;